<connectionStrings>
  <add name="ManagementConnectionString" connectionString="Data Source=MICHAEL-W8\SQLEXPRESS;Initial Catalog=management;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
  <add name="RegistrarConnectionString" connectionString="Data Source=MICHAEL-W8\SQLEXPRESS;Initial Catalog=registrar;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
</connectionStrings>