<connectionStrings>
  <add name="ManagementConnectionString" connectionString="Data Source=api.evoto.tech;Initial Catalog=Management;Integrated Security=False;User ID=evotodb;Password=5NcD4myGxCKkx8Dv;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
  <add name="RegistrarConnectionString" connectionString="Data Source=api.evoto.tech;Initial Catalog=Registrar;Integrated Security=False;User ID=evotodb;Password=5NcD4myGxCKkx8Dv;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
</connectionStrings>