<connectionStrings>
  <add name="ManagementConnectionString" connectionString="Data Source=LION-VM-SERVER\LIONVMSQL;Initial Catalog=Management;User Id=evotodb;Password=5NcD4myGxCKkx8Dv" providerName="System.Data.SqlClient" />
  <add name="RegistrarConnectionString" connectionString="Data Source=LION-VM-SERVER\LIONVMSQL;Initial Catalog=Registrar;User Id=evotodb;Password=5NcD4myGxCKkx8Dv" providerName="System.Data.SqlClient" />
</connectionStrings>